{% extends 'gym/base.html' %}

{% block content %}
<div class="container" style="margin-top:60px">
    <h2 class="text-center text-center">Add Enquiry</h2>

    <form method="POST">
        {% csrf_token %}
        <label><h5>Full Name :</h5></label>
        <input type = "text" name = "name" class= "form-control" required>
        <br>
        <label><h5>Membership ID :</h5></label>
        <input type = "text" name = "member_id" class= "form-control" required>
        <br>
        <label><h5>Contact :</h5></label>
        <input type = "text" name = "contact" class = "form-control" required>
        <br>
        <label><h5>Alternate Contact :</h5></label>
        <input type = "text" name = "alt_contact" class = "form-control" required>
        <br>
        <label><h5>Email :</h5></label>
        <input type = "email" name= "email" class = "form-control" required>
        <br>
        <label><h5>Age :</h5></label>
        <input type = "text" name = "age" class = "form-control" required>
        <br>
        <label><h5>Specify Your Gender :</h5></label>
        <br>
        <input type = "radio" name = "gender" value="male"><br>Male</br><br>
        <input type = "radio" name = "gender" value="female"><br>Female</br>
        <br>
        <label><h5>Plan :</h5></label>
        <input type = "text" name = "plan" class = "form-control" required>
        <br>
        <label><h5>Timing Shift:</h5></label>
        <input type = "text" name = "shifting" class = "form-control" required>
        <br>
        <label><h5>Joining Date:</h5></label>
        <input type = "date" name = "joining_date" class = "form-control" required>
        <br>
        <label><h5>Package Expires On :</h5></label>
        <input type = "date" name = "expiry_date" class = "form-control" required>
        <br>
        <label><h5>Initial Payment :</h5></label>
        <input type = "text" name = "initial_pay" class = "form-control" required>
        <br>
        <input type = "submit" value = "Submit" class = "form-control btn btn-secondary">
    </form>
</div>


{% ifequal error "no" %}
<script>
    alert('New Member Added Successfully!');
    window.location = ('{% url 'thank_you' %}');
</script>
{% endifequal %}


{% ifequal error "yes" %}
<script>
    alert('Oops, Something went Wrong. Please Try Again!');
</script>
{% endifequal %}

{% endblock %}